/* Reset nhẹ */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    color: var(--text-color);
    background-color: var(--color-background);
    /* cuộn xuống mượt mà hơn */
    scroll-behavior: smooth;
}

/* Container chuẩn */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

a {
    text-decoration: none;
    /* có màu giống thẻ cha  */
    color: inherit;
}

ul {
    list-style: none;
}