:root {
    --primary-color: #0447b5bf;
    --primary-color-rgba: #0447b5de;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffbe1a;
    --red-color-primary: #EE4D2D;

    --color-muted: #777;
    --color-background: #f5f5f5;
}