/* Sidebar */
.user-main--change-password{
    display: flex;
    padding: 20px 0;
    width: 100%;

  }
.user-main__sidebar {
    width: 290px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: fit-content;
  }
  
  .user-main__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
  }
  
  .user-main__nav-list li {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
  }
  
  .user-main__nav-title {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .user-main__nav-link {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: block;
    padding: 6px 12px;
    border-radius: 4px;
  }
  
  .user-main__nav-link:hover {
    background-color: #e0f0ff;
    color: #0077cc;
  }
  
  .user-main__content{
    width: 68%;
    margin-left: 19px;
  }
  .profile__form{
    margin-top: 40px;
  }
  .profile__form button{
    margin-top: 20px;
  }