
/* Sidebar */



  .user-main__content{
    width: 68%;
    margin-left: 19px;
    height: 10px;
  }
  .profile__form{
    margin-top: 40px;
  }
  .profile__form button{
    margin-top: 20px;
  }
  
