/* header */
.header {
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 1.4rem;
}

/* top header */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
    /* background-color: var(--color-bg); */
}

.header__top-left,
.header__top-right {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.header__link {
    color: var(--white-color);
    font-weight: 500;
    transition: color 0.3s;
}

.header__link:hover {
    color: rgba(255, 255, 255, 0.6);
}

/* main header */
.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
}

.header__logo a {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white-color);
    text-decoration: none;
}

.header__search {
    flex: 1;
    display: flex;
    margin: 0 2rem;
    max-width: 800px;
}

.header__search-input {
    flex: 1;
    padding: 0.8rem 1.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* outline: none; */
    font-size: 1.4rem;
}

/* .header__search-input:focus {
    border-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
} */

.header__search-btn {
    padding: 0.8rem 1.8rem;
    margin: 0 1rem;
    background-color: var(--white-color);
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.header__search-icon {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.header__cart-icon {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
    color: var(--white-color);
}

.header__cart-icon:hover {
    color: rgba(255, 255, 255, 0.6);
}

/* Responsive */
/* tabel */
@media (max-width: 1023px) {
    .header__search {
        margin: 0 1rem;
        max-width: 500px;
    }

    .header__logo a {
        font-size: 2rem;
    }

    .header__cart-icon {
        font-size: 1.8rem;
    }
}

/* mobile */

/* @media (max-width:767px) {
    .header__main {
        flex-direction: column;
        align-items: stretch;
        gap: 1.2rem;
    }

    .header__logo,
    .header__cart {
        width: 100%;
        text-align: center;
    }

    .header__logo a {
        font-size: 2rem;
    }

    .header__search {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .header__search-input {
        font-size: 1.4rem;
    }

    .header__cart-icon {
        font-size: 1.8rem;
    }
} */