<!-- Start banner -->
<section class="banner">
    <div class="container container__banner">
        <div class="banner__wrapper">
            <div class="banner__big">
                <div class="banner__slider">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7ra0g-m8lmwz3hfsck4e_xxhdpi" alt="Banner lớn"
                        class="banner__slide active">
                </div>
            </div>

            <div class="banner__small">
                <img src="https://cf.shopee.vn/file/vn-11134258-7ra0g-m8lmt1qsafzi91_xxhdpi" alt="Banner nhỏ 1"
                    class="banner__img">
                <img src="https://cf.shopee.vn/file/vn-11134258-7ra0g-m8k6egrwju6a7b_xhdpi" alt="Banner nhỏ 2"
                    class="banner__img">
            </div>
        </div>
    </div>
</section>
<!-- End banner -->