<!-- Start banner -->
<section class="banner">
    <div class="container container__banner">
        <div class="banner__wrapper">
            <div class="banner__big">
                <div class="banner__slider">
                    <img src="./assets/images/banner/banner__big_1.png" alt="Banner lớn" class="banner__slide active">
                    <img src="./assets/images/banner/banner_big_2.jpeg" alt="Banner lớn" class="banner__slide">
                    <img src="./assets/images/banner/banner_big_3.jpeg" alt="Banner lớn" class="banner__slide">
                    <img src="./assets/images/banner/banner_big_4.jpeg" alt="Banner lớn" class="banner__slide">
                    <img src="./assets/images/banner/banner_big_5.jpeg" alt="Banner lớn" class="banner__slide">
                    <img src="./assets/images/banner/banner_big_6.jpeg" alt="Banner lớn" class="banner__slide">
                    <img src="./assets/images/banner/banner_big_7.jpeg" alt="Banner lớn" class="banner__slide">
                </div>
            </div>

            <div class="banner__small">
                <img src="./assets/images/banner/banner__small_1.jpeg" alt="Banner nhỏ 1" class="banner__img">
                <img src="./assets/images/banner/banner__small_1.jpeg" alt="Banner nhỏ 2" class="banner__img">
            </div>
        </div>
    </div>
</section>
<!-- End banner -->