<!-- Start category (danh mục) -->
<section class="category">
    <div class="container container__category">
        <h2 class="category__title"> Danh mục</h2>
        <div class="category__list-wrapper">
            <div class="category__list">
                <!-- Danh mục con -->
                <div class="category__item">
                    <img src="https://down-vn.img.susercontent.com/file/687f3967b7c2fe6a134a2c11894eea4b@resize_w320_nl.webp"
                        alt="Thời trang name" class="category__icon">
                    <span class="category__name">Thời trang nam</span>
                </div>
            </div>
            <!-- <button class="category__toggle-btn">Xem thêm</button> -->
        </div>
    </div>
</section>
<!-- End category (danh mục) -->