<!-- Start footer -->
<footer class="footer">
    <div class="container container__footer">
        <div class="footer__top">
            <div class="footer__policy">
                <!-- Chính sách -->
                <div class="footer__policy-item">
                    <img src="./assets/images/footer/footer__top/footer__top-ChuyenPhatNhanh.png"
                        alt="Chuyển phát nhanh">
                    <p>Chuyển phát nhanh</p>
                </div>
                <div class="footer__policy-item">
                    <img src="./assets/images/footer/footer__top/footer__top-ThanhToanAnToan.png"
                        alt="Thanh toán an toàn">
                    <p>Thanh toán an toàn</p>
                </div>
                <div class="footer__policy-item">
                    <img src="./assets/images/footer/footer__top/footer__top-GiamGiaTrucTiep.png"
                        alt="Giảm giá trực tuyến">
                    <p>Giảm giá trực tuyến</p>
                </div>
                <div class="footer__policy-item">
                    <img src="./assets/images/footer/footer__top/footer__top-HoTro.png" alt="Hỗ trợ 24/7">
                    <p>Hỗ trợ 24/7</p>
                </div>
                <div class="footer__policy-item">
                    <img src="./assets/images/footer/footer__top/footer__top-ChatLuongSanPham.png"
                        alt="Chất lượng sản phẩm">
                    <p>Chất lượng sản phẩm</p>
                </div>
            </div>
        </div>

        <div class="footer__middle">
            <div class="footer__info">
                <!-- Cột 1: Địa chỉ -->
                <div class="footer__col">
                    <h3>Địa chỉ</h3>
                    <p>Bạn có câu hỏi? Gọi cho chúng tôi</p>
                    <p class="footer__phone">+84 868897782</p>
                    <p>Trịnh Văn Bô Nam Từ Liêm Hà Nội</p>
                    <p>cuongdvth03230@gmail.com</p>
                    <p>cuongdvth03230@fpt.edu.vn</p>
                </div>

                <!-- Cột 2: Thông tin -->
                <div class="footer__col">
                    <h3>Thông tin</h3>
                    <p>Về chúng tôi</p>
                    <p>Thông tin vận chuyển</p>
                    <p>Gửi hỗ trợ</p>
                </div>

                <!-- Cột 3: Theo dõi -->
                <div class="footer__col">
                    <h3>Theo dõi</h3>
                    <a href="https://www.facebook.com/Map160507" target="_blank" class="footer__social">
                        <i class="fa-brands fa-facebook-f"></i> Facebook
                    </a>
                    <a href="https://www.instagram.com/map160507/" target="_blank" class="footer__social">
                        <i class="fa-brands fa-instagram"></i> Instagram
                    </a>
                </div>

                <!-- Cột 4: Thanh toán -->
                <div class="footer__col">
                    <h3>Thanh toán</h3>
                    <div class="footer__payment">
                        <img src="./assets/images/footer/footer__middle/footer__middle-ThanhToan-Visa.png" alt="Visa">
                        <img src="./assets/images/footer/footer__middle/footer__middle-ThanhToan-Paypal.png"
                            alt="Paypal">
                        <img src="./assets/images/footer/footer__middle/footer__middle-ThanhToan-MasterCard.png"
                            alt="MasterCard">
                        <img src="./assets/images/footer/footer__middle/footer__middle-ThanhToan-MoMo.png" alt="Momo">
                    </div>
                </div>

                <!-- Cột 5: Vận chuyển -->
                <div class="footer__col">
                    <h3>Đơn vị vận chuyển</h3>
                    <div class="footer__shipping">
                        <img src="./assets/images/footer/footer__middle/footer__middle-VanChuyen-J&T" alt="J&T">
                        <img src="./assets/images/footer/footer__middle/footer__middle-VanChuyen-ninjaVan"
                            alt="Ninja Van">
                        <img src="./assets/images/footer/footer__middle/footer__middle-VanChuyen-grab"
                            alt="GrabExpress">
                        <img src="./assets/images/footer/footer__middle/footer__middle-VanChuyen-giaoHangNhanh"
                            alt="Giao hàng nhanh">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__certs">
                <img src="./assets/images/footer/footer__bottom/footer__bottom-DaDangKy-Red.png" alt="Đã đăng ký">
                <img src="./assets/images/footer/footer__bottom/footer__bottom-DaThongBao-Blue" alt="Đã thông báo">
                <img src="./assets/images/footer/footer__bottom/footer__bottom-VanTayBoCongThuong" alt="Bảo vệ">
            </div>
            <p class="footer__copyright">
                Công ty TNHH Hội Người Khôn <br>
                Địa chỉ: Tòa nhà FPT Polytechnic Nam Từ Liêm thành phố Hà Nội, Việt Nam <br>
                Chịu trách nhiệm quản lí nội dung: Đào Việt Cường <br>
                © 2025 - Bản quyền thuộc về công ty TNHH Hội Người Khôn
            </p>
        </div>
    </div>
</footer>
<!-- End footer -->