<!-- Start header (components) -->
<header class="header">
    <div class="container">

        <!-- Header top -->
        <div class="header__top">

            <div class="header__top-left">
                <a href="#" class="header__link">
                    Đăng ký người bán
                </a>
            </div>
            <div class="header__top-right">
                <a href="" class="header__link">
                    Đăng nhập
                </a>
                <a href="" class="header__link">
                    Đăng ký
                </a>
            </div>

        </div>
        <!-- Header main -->
        <div class="header__main">
            <div class="header__logo">
                <a href="/">
                    LOGO
                </a>
            </div>
            <div class="header__search">
                <input type="text" placeholder="Tìm sản phẩm..." class="header__search-input">
                <button class="header__search-btn">
                    <i class="fa-solid fa-magnifying-glass header__search-icon"></i>
                </button>
            </div>
            <div class="header__cart">
                <a href="" class="header__cart-icon">
                    <i class="fa-solid fa-cart-shopping header__cart-icon"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<!-- End header (components) -->