<!-- Start product (Gợi ý hôm nay) -->
<section class="product">
    <div class="container container__product">
        <h2 class="product__title">GỢI Ý HÔM NAY</h2>

        <div class="product__list">
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span class="product__stars"> ⭐ 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
            <!-- Product item -->
            <div class="product__item">
                <div class="product__img-wrap">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7ras8-m5286rhwgkza9b.webp"
                        alt="Tên sản phẩm" class="product__img" />
                    <span class="product__discount-tag">-20%</span>
                </div>
                <h3 class="product__name">Xe Điện XBull - Phiên Bản 2025 Công Nghệ Hiện Đại</h3>
                <div class="product__price-wrap">
                    <span class="product__price">9.200.000đ</span>
                    <span class="product__price-old">11.500.000đ</span>
                </div>
                <div class="product__meta">
                    <span><i class="fa-solid fa-star"></i> 4.5</span>
                    <span class="product__sold">Đã bán 2.5k</span>
                </div>
            </div>
        </div>
        <!-- Button xem thêm -->

    </div>
</section>
<!-- End product -->